<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }}</title>
        <link rel="stylesheet" href="static/style.css" type="text/css" />
    </head>
    <body>
        <div id="wrapper">
            <h1>{{ title }}</h1>
            {% block content %}{% endblock %}
            <footer>
                <p>&copy; 2018–2024 Threema GmbH | <a href="https://github.com/threema-ch/app-remote-protocol">Source code</a>
            </footer>
        </div>
    </body>
</html>
