{% extends "base.html" %}

{% block content %}
<summary>{{ description | cmark }}</summary>
<p>Protocol version: {{ version }}</p>

<h2>Concepts</h2>

<table id="conceptlist">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for id, concept in concepts.items() | sort %}
            <tr>
                <td><a href="concept-{{ id.lower() }}.html">{{ concept.name }}</a></td>
                <td>{{ concept.summary }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h2>Messages</h2>

<table id="messagelist">
    <thead>
        <tr>
            <th>Type</th>
            <th>Subtype</th>
            <th title="App to Client">A→C</th>
            <th title="Client to App">C→A</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        {% for type, subtypes in messages.items() | sort %}
            {% for subtype, directions in subtypes.items() | sort %}
                {% for msg in directions %}
                    {% if msg['direction'] == 'fromapp' %}
                        {% set direction_text = 'app -> client' %}
                    {% elif msg['direction'] == 'toapp' %}
                        {% set direction_text = 'client -> app' %}
                    {% elif msg['direction'] == 'bidirectional' %}
                        {% set direction_text = 'bidirectional' %}
                    {% endif %}
                    <tr>
                        <td><a href="message-{{ type }}-{{ subtype }}-{{ msg['direction'] }}.html">{{ type }}</a></td>
                        <td><a href="message-{{ type }}-{{ subtype }}-{{ msg['direction'] }}.html">{{ subtype }}</a></td>
                        <td>{% if msg['direction'] in ['fromapp', 'bidirectional'] %}✓{% endif %}</td>
                        <td>{% if msg['direction'] in ['toapp', 'bidirectional'] %}✓{% endif %}</td>
                        <td class="summary">{{ msg['summary'] | cmark }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </tbody>
</table>

<h2>Models</h2>

<table id="modellist">
    <thead>
        <tr>
            <th>Model</th>
        </tr>
    </thead>
    <tbody>
        {% for model, data in models.items() | sort %}
            <tr>
                <td><a href="model-{{ model.lower() }}.html">{{ model }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
