{% extends "base.html" %}

{% block content %}
<a href="index.html">Back to overview</a>

<summary>{{ message['summary'] | cmark }}</summary>

{% if 'description' in message %}
<p>{{ message['description'] | cmark }}</p>
{% endif %}

{% if reply %}
<h2>Acknowledgement</h2>
{% if reply['direction'] == 'to' %}
<p>This message acknowledges:</p>
{% else %}
<p>This message is being acknowledged by:</p>
{% endif %}

<table>
    <thead>
        <tr>
            <th>Message</th>
            <th>Condition</th>
            <th>Error Codes</th>
        </tr>
    </thead>
    <tbody>
        {% for reply_message in reply['message'] | sort(attribute='message') %}
        <tr>
            <td><a href="{{ reply_message['filename'] }}">{{ reply_message['display_message'] }} ({{ reply_message['display_direction'] }})</a></td>
            <td>{{ reply_message['condition'] | cmark }}</td>
            <td>
                <details>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for code, description in reply_message['errorCodes'].items() | sort %}
                            <tr>
                                <td><code>{{ code }}</code></td>
                                <td>{{ description | cmark }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </details>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if subscribe %}
<h2>Subscriptions</h2>
{% if subscribe['direction'] == 'to' %}
<p>This message subscribes to:</p>
{% else %}
<p>This message is being subscribed by:</p>
{% endif %}

<table>
    <thead>
        <tr>
            <th>Message</th>
            <th>Condition</th>
        </tr>
    </thead>
    <tbody>
        {% for subscribe_message in subscribe['message'] | sort(attribute='message') %}
        <tr>
            <td><a href="{{ subscribe_message['filename'] }}">{{ subscribe_message['display_message'] }} ({{ subscribe_message['display_direction'] }})</a></td>
            <td>{{ subscribe_message['condition'] | cmark }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<h2>Args</h2>
{% if 'args' in message %}
    {% if message['args']['description'] %}
    {{ message['args']['description'] | cmark }}
    {% endif %}
    {% if message['args']['fields'] %}
        {% set fields=message['args']['fields'] %}
        {% include 'table.html' %}
    {% endif %}
{% else %}
    None
{% endif %}

<h2>Data</h2>
{% if 'data' in message %}
    {% if message['data']['description'] %}
    {{ message['data']['description'] | cmark }}
    {% endif %}
    {% if message['data']['fields'] %}
        {% set fields=message['data']['fields'] %}
        {% include 'table.html' %}
    {% endif %}
{% else %}
    None
{% endif %}

{% if models %}
<h2>Models</h2>
{% for model in models %}
<h3 id="model.{{ model.0 }}">{{ model.0 }}</h3>
{% set fields=model.1.fields %}
{% set show_default=True %}
{% include 'table.html' %}
{% endfor %}
{% endif %}

{% endblock %}
