{% extends "base.html" %}

{% block content %}
<a href="index.html">Back to overview</a>

{{ message['summary'] | cmark }}

<h2>Args</h2>
{% if 'args' in message %}
    {% if message['args']['description'] %}
    {{ message['args']['description'] | cmark }}
    {% endif %}
    {% if message['args']['fields'] %}
        {% set fields=message['args']['fields'] %}
        {% include 'table.html' %}
    {% endif %}
{% else %}
    None
{% endif %}

<h2>Data</h2>
{% if 'data' in message %}
    {% if message['data']['description'] %}
    {{ message['data']['description'] | cmark }}
    {% endif %}
    {% if message['data']['fields'] %}
        {% set fields=message['data']['fields'] %}
        {% include 'table.html' %}
    {% endif %}
{% else %}
    None
{% endif %}

{% if message['response'] %}
<h2>Response</h2>
{{ message['response'] | cmark }}
{% endif %}

{% if message['errorCodes'] %}
<h2>Error Codes</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        {% for k, v in message['errorCodes']['codes'].items() %}
        <tr>
            <td>{{ k }}</td>
            <td>{{ v }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% if models %}
<h2>Models</h2>
{% for model in models %}
<h3>{{ model.0 }}</h3>
{% set fields=model.1.fields %}
{% set show_default=True %}
{% include 'table.html' %}
{% endfor %}
{% endif %}

{% endblock %}
