<table>
    <thead>
        <tr>
            <th>Field</th>
            <th>Description</th>
            <th>Type</th>
            <th>Optional</th>
            <th>Nullable</th>
            {% if show_default %}
            <th>Default</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for f in fields %}
        <tr>
            <td>{{ f['field'] }}</td>
            <td>
                {{ f['description'] | cmark }}
                {% if f['enum'] %}
                <p>Allowed values:
                {% for val in f['enum'] %}
                <code>{{ val }}</code>{% if not loop.last %}, {% endif %}
                {% endfor %}
                </p>
                {% endif %}
            </td>
            <td>{{ f['type'] | linkmodels(models) }}</td>
            <td>{{ f['optional'] }}</td>
            <td>{{ f['nullable'] }}</td>
            {% if show_default %}
            <td>{{ f.get('default', '') }}</td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
